# ============================================================
# Fichier  : logwatcher.service
# **Auteur :** Vuotto Jade 
# **Date :** 2026-06-18
# Desc     : Service systemd pour la surveillance SSH
# Deploy   : sudo cp configs/logwatcher.service /etc/systemd/system/
#            sudo systemctl daemon-reload
#            sudo systemctl enable --now logwatcher
# ============================================================

[Unit]
Description=Service de surveillance des tentatives de connexion ssh (logwatcher)          

# dépendances (network.target syslog.target)
After=network.target syslog.target                                                         

[Service]
# type approprié pour une boucle infinie
Type=simple                                   

# User=esgi # utilisateur sous lequel tourne le service

# chemin absolu vers logwatcher.sh
ExecStart=/bin/bash /home/esgi/Bureau/Linux18juin/linux-admin-b2-VUOTTO-jade/scripts/logwatcher.sh     

# politique de redémarrage en cas d'échec
Restart=on-failure    

# délai avant redémarrage
RestartSec=10s

# destination des logs stdout                     
StandardOutput=journal

# destination des logs stderr          
StandardError=journal

# identifiant dans journald
SyslogIdentifier=logwatcher       

# Optionnel – Hardening (bonus)
# NoNewPrivileges=yes
# ProtectSystem=strict
# PrivateTmp=yes

[Install]
# target de démarrage
WantedBy=multi-user.target